*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
}
.container{
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/banner.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer
}
.nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
.footer .footer-column ul li{
  list-style: none;
}

.footer .footer-column ul li a, footer .footer-column a{
  font-size: 20px;
}



nav ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}
.row{   
    display: flex;
    height: 88%;
    align-items: center;
    line-height: 80px;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #ffff;
    font-size: 100px;
    line-height: 100px;

}
p{
    color: #AAAFF0;
    font-size: 30px;
}
button{
    display: inline-block;
    padding: 10px 40px;
    color: #707BF9;
    background-color: transparent;
    border: 2px solid #707BF9;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .3s ease back-ground-color;
}
button:hover{
    color: white;
    background-color: #707BF9;
}
.program .row {
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;
}


.why-english h2, .contact h2,.program h2, .contact h3 {
    font-size: 60px;
    color: #707BF9;
}
.footer h3, footer p{
  color: #707BF9;
  font-size: 30px;

}
.footer .column h3 p{
  font-size: 30px;
}
.slideshow-container h2{
    font-size: 60px;
    color: white;
}
.text, .slideshow-container h2 {
    margin-top: 50px;
    text-align: center;
}
.program .column {
    float: left;
    width: 33.33%; 
    margin: 0px;
    text-align:center;
    position: relative;
}

.column img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    display:inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.text-in-pic {
        position: absolute;
        bottom: 8px;
        left: 16px;
        font-size: 18px;
        left: 17%;
        bottom: 0px;
        font-size: 30px;
        font-weight: bold;
        color: white;

      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
        width: 300px;
        opacity: 0;
        transition: .5s ease;
        background-color: #707BF9;
        border-radius: 15px;
        margin-left: 13%;
        margin-right: 10%;

      }

      .column:hover .overlay {
        opacity: 0.5;
        
      }

.fade img{
    filter: brightness(50%);
    width: 100%;
    height:70%;
    object-fit: cover; 
}

.slide {
    display: none;
}
/* Slideshow container */
.why-english {
    position: relative;
    margin: auto;
  }
  
  
  /* Caption text */
  .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #707BF9;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 150px;
  }

  .mySlides img{
      border-radius: 50%;
      float: left;
      margin: 15px;
      width: 27%;
  }

  .mySlides p{
      color: white;
      margin: 30px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  

  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

.contact{
        align-items: center;

}

/* Style inputs with type="text", select elements and textareas */
.input-long input[type=text], input[type=tel], textarea {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 15px;
  }

  .input-short input[type=text] {
    width: 49%;
    height: 70px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 6px;


  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    display: inline-block;
    padding: 10px 40px;
    color: #707BF9;
    background-color: transparent;
    border: 2px solid #707BF9;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .3s ease back-ground-color;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    color: white;
    background-color: #707BF9;
  }
  
  /* Add a background color and some padding around the form */
  .contact {
    padding: 50px;
    align-items: center;
  }

  ::placeholder {
      color:#707BF9;
      font-weight: bold;
      font-size: 20px;
  }

  .footer{
    margin: 10%;
    height: 80px;
  }

  .footer .footer-column{
    float: left;
    width: 33.33%;
  }

  .footer-column img{
    width: 35%;
  }

  .form-control small{
    visibility: hidden;
    position: relative;
    top: 0;
    bottom: 0;
    color: red;
    font-weight: bold;
}





  
  